{
  "presets": ["next/babel"],
  "plugins": [
    "inline-react-svg",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@Internal/Components": "./src/Components",
          "@Internal/Api": "./src/Api",
          "@Internal/Models": "./src/Models",
          "@Internal/Pages": "./src/Pages",
          "@Internal/Hooks": "./src/Hooks",
          "@Internal/Constants": "./src/Constants",
          "@Internal/Utils": "./src/Utils",
          "@Internal/Config": "./src/Config",
          "@Internal/Public": "./public",
          "@Internal/Reducers": "./src/Reducers"
        }
      }
    ]
  ]
}
